/* Product Page */

/* Works
.product-images-test {
  position: relative;
  top: -500px;
}
*/

/* Works: Moves the add to bag/ Add to cart/ Options
.product-details-test {
  position: relative;
  bottom: -500px;
}
*/

/* Works: Moves the Image Title and Price
.product-heading-test {
  position: relative;
  right: -500px;
}
*/